.border-inset {
  border-style: inset;
}

.button .icon-missing {
  word-wrap: break-word;
}

button.button {
  background-color: transparent;
  border-color: gold;
}

button.button[disabled] {
  border-color: black;
  border-style: solid;
}
